<div class="container">
  <div class="row">
    <h2 id="top-page">〜こうしたら良いのに〜 議論サイト</h2>
    <div class="col-md-8 login-form">
        <div>
           <h3>LOGIN</h3>
        </div>
        <p class="error_message"><%= flash[:error] %></p>
       <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
         
         <div class="field">
           <%= f.label :email %>
           <%= f.email_field :email %>
         </div>

         <div class="field">
           <%= f.label :password %>
           <%= f.password_field :password %>
         </div>

         <div class="login-action">
           <%= f.submit "Log in", class:"submit-btn" %>
         </div>
         <div class="logon-action">
             新規登録をされる方は<%= link_to "こちら", new_user_path %>
         </div>
       <% end %>
     </div>
  </div>
</div>