<div class="container">
  <div class="row">
    <div class="col-md-10 new_comment_form">
      
      <% if @post.image.present? %>
         <div class="post-image">
           <%=image_tag @post.image %>
         </div>
      <% end %>
      <div class="post-content">
        <div class="title">
          <h2><%= @post.title %></h2>
        </div>
        
        <div class="content">
          <%= @post.content %>
        </div>
      </div>
      
      <div class="comment-form">
          <%= render "form", comment: @comment %>
      </div>
      
      <div class="button-menu">
        <%= link_to '戻る', :back, class:"btn btn-info" %> 
      </div>
    </div>
  </div>
</div>