<div class="container">
  <div class="row">
    <div class="col-md-8 login-form">
       <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
       
         <%= f.label :email %>
         <%= f.email_field :email %>
       
         <%= f.label :password %>
         <%= f.password_field :password %>
       
         <%= f.submit "Log in" %>
       <% end %>
     </div>
  </div>
</div>