<%= form_with(model: user, local: true) do |form| %>
 <% if user.errors.any? %>
   <div id="error_explanation">
     <ul>
     <% user.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

　<div class="field">
   <label>プロフィール画像</label>
   <%= form.file_field :image, id: :user_image %>
 </div>
 
 <div class="field">
   <label>ユーザー名</label>
   <%= form.text_field :name, id: :user_name, placeholder: "ユーザー名" %>
 </div>

 <div class="field">
   <label>Eメール</label>
   <%= form.email_field :email, id: :user_email, placeholder: "sample@example.com" %>
 </div>
 
 <div class="field">
   <label>プロフィール</label>
   <%= form.text_area :introduction, id: :user_introsuction, placeholder: "自己紹介" %>
 </div>
 
  <div class="field">
   <label>パスワード変更</label>
   <%= form.password_field :password, id: :user_password, placeholder: "半角英数6文字以上" %>
 </div>
 
  <div class="field">
   <label>パスワード再入力</label>
   <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
 </div>

 <div class="actions">
   <div class="submit-btn">
     <%= form.submit "更新" %>
   </div>
   <div class="back-btn">
     <%= link_to '戻る', :back, class:"btn btn-info" %>
   </div>
 </div>
<% end %>