<div class="container">
  <div class="row">
    <div class="col-md-12 user-profile">
      <div class="mypage-menu">
         <p id="notice"><%= notice %></p>
           <div class="user-image">
             <% if @user.image.present? %>
               <%=image_tag @user.image %>
             <% else %>
               <%=image_tag('default-profile.png') %>
             <% end %>
           </div>
           
           <div class="name">
             <h2><%= @user.name %></h2>
           </div>
           
           <div class="email">
             <h2><%= @user.email %></h2>
           </div>
           
           <div class="introduction">
             <%= @user.introduction %>
           </div>
           
           <% if current_user.id == @user.id%>
             <div class="button-menu">
               <%= link_to 'プロフィール編集', edit_user_path(@user), class:"btn btn-info" %> 
               <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class:"btn btn-danger" %>
             </div>
          <% end %>
      </div>
      
      <ul class="tab">
　　　    <li class="select">投稿</li>
　　　    <li>お気に入り</li>
　　　</ul>
      <ul class="content">
          <li>
      　     <div class="user-post-list">
      　       <%= render "post_list", posts: @user.posts.order("id DESC") %>
      　     </div>
          </li>
          <li class="hide">
            <div class="user-favorite-list">
                <%= render "favorites/favorite_list", favorites: @user.favorite_posts.order("id DESC") %>
            </div>
          </li>
      </ul>
      
    </div>
  </div>
</div>