<div class="container">
  <div class="row">
    <div class="col-md-10 user-profile">
      <p id="notice"><%= notice %></p>
      
      <div class="image">
        <% if @user.image.present? %>
          <%=image_tag @user.image %>
        <% else %>
          <%=image_tag('default-profile.png') %>
        <% end %>
      </div>
      
      <div class="name">
        <h2><%= @user.name %></h2>
      </div>
      
      <div class="email">
        <h2><%= @user.email %></h2>
      </div>
      
      <div class="introduction">
        <%= @user.introduction %>
      </div>
      
      <div class="button-menu">
        <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-info" %> 
        <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class:"btn btn-danger" %>
      </div>
    </div>
  </div>
</div>