<div class="container">
  <div class="row">
    <div class="col-md-9 post-list">
      <% @posts.each do |post| %>
        <div class="post-box">
          <div class="post-image">
            <%= image_tag post.image %>
          </div>
          <div class="post-content">
              <h4><%= post.title %></h4>
              <div class="post-text">
                <%= post.content %>
              </div>
              <div class="post-buttons">
                <%= link_to 'Show', post %>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>