<div class="post-list">
  <% @posts.each do |post| %>
      <div class="post-title">
        <%= post.title %>
      </div>
      <div class="post-content">
          <%= post.content %>
          <%= post.image %>
          <%= link_to 'Show', post %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  <% end %>
</div>