<div class="container">
  <div class="row">
    <div class="col-md-10 post-content-detail">
      <p id="notice"><%= notice %></p>
      
      <div class="image">
        <%=image_tag @post.image %>
      </div>
      <div class="text-content">
        <div class="title">
          <h2><%= @post.title %></h2>
        </div>
        
        <div class="content">
          <%= @post.content %>
        </div>
      </div>
      
      <div class="button-menu">
        <span id="comment-btn">
          <%= link_to new_comment_path(post_id: @post.id) do %>
            <%= image_tag("message_icon.png") %>  コメントする
          <% end %>
        </span>
        <% if current_user.id == @post.user.id%>
          <%= link_to '編集する', edit_post_path(@post), class:"btn btn-warning" %> |
        <% end %>
        <%= link_to '戻る', posts_path, class:"btn btn-info" %>
      </div>
      
      <div class="comment-list">
        <% if @post.comments.present? %>
           <% @post.comments.each do |comment| %>
             <div class="comment-box">
               <div class="comment-info">
                 <span id="user-name"><%= image_tag comment.user.image %><%= comment.user.name %></span>
                 <span id="commentted-time"><%= comment.created_at %></span>
               </div>
               <div class="content">
                 <%= comment.content %>
               </div>
             </div>
           <% end %>
        <% else %>
          <h4>###  まだこの投稿に対するコメントはありません。 ###</h4>
        <% end %>
      </div>
    </div>
  </div>
</div>