<div class="container">
  <div class="row">
    <div class="col-md-10 post-content-detail">
      <p id="notice"><%= notice %></p>
      
      <div class="image">
        <%=image_tag @post.image %>
      </div>
      
      <div class="title">
        <h2><%= @post.title %></h2>
      </div>
      
      <div class="content">
        <%= @post.content %>
      </div>
      
      <div class="button-menu">
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Back', posts_path %>
      </div>
    </div>
  </div>
</div>