<!DOCTYPE html>
<html>
    <head>
      <title>Should Be Done</title>
      <%= csrf_meta_tags %>
  
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
  <% if logged_in? %>
    <div class="header">
      <div class="header-logo">
        <%= link_to "Should Be Done 〜こうしたら良いのに〜", posts_path %>
      </div>
      <% if logged_in? %>
        <div class="header-logout">
          <%= link_to "ログアウト", session_path(current_user.id), method: :delete, class: "logout-btn" %> 
        </div>
      <% end %>
    </div>
  <% end %>
  
  <body>
    <%= yield %>
  </body>
  
  <% if logged_in? %>
      <div class="footer">
        <%= link_to user_path(current_user.id) do %>
           <%= image_tag("user-icon.png")%>
        <% end %>
        <%= link_to posts_path do %>
           <%= image_tag("home-icon.png")%>
        <% end %>
        <%= link_to new_post_path do %>
           <%= image_tag("paper-plane.png")%>
        <% end %>
      </div>
  <% end %>
</html>
